*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
    --fontOpenSans: 'Open Sans', sans-serif;
    --fontMontserrat: 'Montserrat', sans-serif;
    --fontMarriweather: 'Merriweather', serif;
    --color1: rgb(0,45,114);
    --color2: rgb(43,80,138);
    --color3: rgb(0,114,206);
    --color4: rgb(104,172,229);
    --color5: rgb(22,63,126);
    --color6: rgb(49,38,29);
    --color7: rgb(213,220,232);
}

.header{
    height: 100vh;
    z-index: 1;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.page-content{
    z-index: 1;
}

.first-section{
    background-image: linear-gradient(180deg, rgba(73, 73, 73, 0.692) 0%, rgba(104, 123, 229, 0.281) 34%, rgb(0, 45, 144) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.header-logo{
    width: 325px;
    height: 65%;
    margin-left: 5vw;
    margin-top: 2vh;
}

.header-logo img{
    width: 100%;
    height: 100%;
}

.header-menus{
    text-align: right;
    display: flex;
}

.menu-option{
    list-style-type: none;
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px rgba(255, 255, 255, 0.39);
    cursor: pointer;
    background-color: black;
}

.menu-icon-text{
    display: flex;
    align-items: center;
}

.menu-icon-text p{
    margin-top: 25%;
    font-family: var(--fontMontserrat);
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.menu-icon i{
    color: white;
}


.menu-option:hover{
    background-color: var(--color2);
    transition: background-color 0.3s ease;
}

.menu-option:hover .menu-icon i{
    transform: scale(1.5, 1.5);
    transition: transform 0.3s ease;
}

.menu-option:hover .menu-icon-text p{
    color: white;
    transition: color 0.3s ease-in-out;
}

.menu-section1, .menu-section2{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(90deg, var(--color1) 100%, var(--color1) 100%, rgba(0,45,144,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    z-index: 2;
}

.menu-section1{
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
    padding-top: 50px;
}

.menu-section1-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

.menu-section1-item p{
    text-align: left;
    font-family: var(--fontOpenSans);
    font-size: 20px;
    color: white;
    margin-bottom: 0;
}

.menu-section2{
    padding-top: 3vh;
    padding-right: 2vw;
}

.menu-section2-items{
    list-style-type: none;
}

.menu-section2-items li{
    margin-top: 2vh;
    padding-inline: 1vw;
    border-radius: .5rem;
}

.menu-section2-items li:hover{
    background-color: var(--color2);
}

.menu-section2 h2{
    color: white;
    font-family: var(--fontOpenSans);
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.menu-section2-item-a{
    text-decoration: none;
    color: var(--color4);
    
}

.menu-button{
    cursor: pointer;
    background-color: var(--color5);
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7rem;
}

.menu-button img{
    width: 60%;
    height: 60%;
    color: rgba(255, 255, 255, 0.349);
}

.menu-button:hover{
    background-color: var(--color3);
    transition: background-color 0.3s ease;
}

.menu-button:hover i{
    color: white;
    transition: color 0.3s ease;
    transform: scale(1.2, 1.2);
    transition: transform 0.3s ease;
}

.interspace{
    width: 100%;
    height: 2px;
    background-color: var(--color2);
}


.video-container{
    background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;

}

.video-container video{
    bottom: 0;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

.main-content{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    height: 85vh;
}

.main-text-container{
    display: grid;
    grid-template-rows: 1fr 40vh 1fr;
}

.main-text{
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.main-text h1, .main-text p{
    text-align: center;
    margin-bottom: 0;
}

.main-text h1{
    font-family: var(--fontMarriweather);
    font-weight: 600;
    font-size: 90px;
    color: white;
}

.main-text p{
    margin-top: 20px;
    color: white;
    font-family: var(--fontOpenSans);
    font-size: 18px;
}



.section-news{
    background-image: url("https://www.jhu.edu/assets/themes/machado/assets/images/textures/textured_paper_increased_contrast-894e135412.jpg");
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
}

.mainNew{
    background-image: url("https://www.jhu.edu/assets/themes/machado/assets/images/homepage/news/news-bg-wall-blue-57e09992db.svg");
}


.mainNew img{
    width: 100%;
    height: 100%;
}

.firstNewSection{
    width: 98.5vw;
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    
}

.firstNewSection .imgContainer{
    min-width: 20%;
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 89.6984924623%;
    z-index: 0;
}

.firstNewSection .imgContainer {
    z-index: 1;
}

.firstNewSection .imgContainer img{
    width: 80%;
    height: 80%;
}

.noticeSection{
    background-color: white;
    width: 60%;
    height: 80%;
    transform: translateX(-30%);
    padding-inline: 2vw;
    padding-top: 2vh;
    border-left:solid 7px var(--color1);
    border-bottom:solid 7px var(--color1);
    z-index: 2;
}

.noticeSection .caption, .secNoticeSection .caption{
    font-family: var(--fontMarriweather);
    font-size: small;
    color: var(--color3);
}

.noticeSection h2{
    font-family: var(--fontOpenSans);
    font-size: 25px;
    font-weight: 700;
}

.noticeSection p:nth-child(3){
    color: gray;
}

.noticeSection p:nth-child(4){
    font-family: var(--fontOpenSans);
}

.secondaryNews{
    display: flex;
    flex-direction: row;
    margin-inline: 5vw;
    justify-content: space-evenly;
}

.secondaryNew{
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.secNoticeSection{
    width: 23vw;
    background-color: white;
    padding-top: 1vh;
    padding-inline: 2vw;
    transform: translateY(-20%);
}

.secNoticeSection h3{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--fontOpenSans);
}

.secNoticeSection p:last-child{
    color: gray;
    font-size: 15px;
    font-family: var(--fontOpenSans);
}

.secondaryNew .imgContainer{
    width: 25vw;
    height: 25vh;
}

.secondaryNew .imgContainer img{
    width: 100%;
    height: 100%;
}

.mainNew .buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainNew .buttonContainer button{
    width: 230px;
    height: 70px;
    background-color: var(--color1);
    font-family: var(--fontMontserrat);
    font-weight: 600;
    border: none;
    margin-bottom: 3vh;
}

.mainNew .buttonContainer button a{
    text-decoration: none;
    color: white;
}

.mainNew .buttonContainer button:hover{
    background-color: var(--color4);
    transition: 0.5s background-color ease;
}

.mainNew .buttonContainer button:hover a{
    color: black;
    transition: 0.5s color ease-out;
}



.programsSection{
    background-image: url("https://www.jhu.edu/assets/themes/machado/assets/images/homepage/baltimore/baltimore-bg-laptop-large-blue-d1471aa77a.jpg");
}

.facultiesMenu{
    height: auto;
}

.inputSearch{
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 20vh 1fr 25vh;
    grid-template-columns: 20vw 1fr 20vw;
}

.inputSearch .search{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column-reverse;
    height: 20vh;
    border: solid 5px var(--color4);
}

.inputSearch .search input{
    width: 100%;
    height: 10vh;
    border: 0;

    border: 2px solid #ccc; /* Borde de 2 píxeles de ancho y color gris claro */
    font-size: 16px; /* Tamaño de letra de 16 píxeles */
    padding: 10px; /* Espacio de 10 píxeles entre el borde y el contenido */

    font-family: var(--fontMontserrat);
    font-size: 18px;
}

.inputSearch .search input:focus{
    outline: none; /* Quita el contorno al seleccionar el input */
  border-color: var(--color4); /* Cambia el color del borde al seleccionar el input */
  box-shadow: 0 0 5px var(--color4);
}

.inputSearch .search button{
    width: 100%;
    height: 10vh;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color4);
}

.inputSearch .search button p{
    margin:0;
    font-family: var(--fontMontserrat);
    color: var(--color6);
    font-size: 23px;
    font-weight: 600;
}

.inputSearch .search button:hover{
    background-color: var(--color1);
    transition: 0.5s background-color ease;


}

.inputSearch .search button:hover p, .inputSearch .search button:hover i{
    color: white;
    transition: 0.5s color ease;
}


.facultiesSection{
    display: flex;
    flex-direction: column;
    padding-inline: 10vw;
}

.facultiesSection .stroke{
    width: 80vw;
    height: 3px;
    background-color: white;
    border-radius: 3rem;
    margin: 0 auto;
}

.facultiesSection h2{
    text-align: center;
    font-family: var(--fontMarriweather);

    margin-top: 5vh;
    padding: 6px;
    color: var(--color6);
    background-color: var(--color4);
}

.facultiesSection ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.facultiesSection ul li{
    list-style: none;
    position: relative;
    cursor: pointer;
    width: 120px;
    height: 50px;
    margin-inline: 3vw;
    margin-bottom: 1vh;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facultiesSection ul li:hover{
    background-color: var(--color4);
    transition: 0.4s background-color ease;
    transition: 0.4s transform ease;
    transform:translateY(-10%)
}

.facultiesSection ul li:hover a p{
    color: var(--color6);
    transition: 0.4s color ease;
    
}

.facultiesSection ul li a{
    text-decoration: none;
    margin: 0;
    
}

.facultiesSection ul li a p{
    text-align: center;
    margin: 0;
    color: white;
    font-family: var(--fontOpenSans);
    font-weight: 600;

}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--color1);
    font-family: var(--fontOpenSans);
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.footer ul{
    list-style: none;
}

.footer a{
    text-decoration: none;
}

.footer .sectionFooter:nth-child(2){
    padding-top: 0vh;
}

.sectionFooter:nth-child(2) h3{
    color: white;
}

.location{
    display: flex;
    color: var(--color7);
}

.location i{
    margin-top: 5px;
}

.socialMedia{
    margin-bottom: 3vh;
    padding-left: 2vw;
}

.socialMedia i{
    color: var(--color7);
    width: 3vw;
    transform: scale(190%);
}

.socialMedia i:hover{
    color: var(--color4);
    transition: 0.3s color ease;
}

.copyright{
    color: var(--color7);
}

.sectionFooter:nth-child(3){
    
    padding-right: 3vw;

}

.sectionFooter:nth-child(3) .inputFooter{
    display: flex;
    width: 20vw;
    height: 7.5vh;
    border: 0;
    padding:0;
    border: solid 5px var(--color2);
    margin-bottom: 4vh;
}

.inputFooter input{
    border: 0;
    width: 100%;
    height: 6vh;
    padding-inline: 1vw;
    font-family: var(--fontOpenSans);
}

.inputFooter input:focus{
    outline: none; /* Quita el contorno al seleccionar el input */
    border-color: var(--color4); /* Cambia el color del borde al seleccionar el input */
    box-shadow: 0 0 5px var(--color4);
}

.inputFooter button{
    border: 0;
    width: 5vw;
    background-color: var(--color2);
}

.inputFooter button:hover{
    background-color: var(--color1);
    transition: 0.3s background-color ease;
}

.inputFooter button:hover i{
    color: white;
    transition: 0.3s transform ease;
    transform: scale(120%);
}

.sectionFooter:nth-child(3) ul li{
    width: 80%;
    height: 6vh
}

.sectionFooter:nth-child(3) ul li:hover{
    cursor: pointer;
    background-color: var(--color5);
    transition: 0.4s background-color ease;
}

.sectionFooter:nth-child(3) ul li:hover a p{
    color: white;
    transition: 0.4s color ease;
}

.sectionFooter:nth-child(3) ul li a p{
    color: var(--color4);
    padding-top: 1vh;
    padding-left: 1vw;
}




/* Section links
.section-links-container{
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 6vh;
    background-image: url("https://www.jhu.edu/assets/themes/machado/assets/images/homepage/links/links-bg-2-laptop-large-8978532ba7.jpg");
    
}

.section-links-container h2{
    padding: 5px 20px;
    font-family: var(--fontMontserrat);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    background-color: var(--color3);
    color: white;
    margin-bottom: 20px;
}

.section-links-container .links-container{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.links-container .link{
    display: flex;
    flex-direction: column;
    padding: 5px 8px;
    align-items: center;
    cursor: pointer;
}

.links-container .link a{
    text-decoration: none;
}

.links-container .link a p{
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.links-container .link:hover{
    transition: background-color 0.3s ease;
    background-color: var(--color3);
}

.links-container .link:hover a p{
    transition: color 0.3s ease;
    color: black;
}



.spread{
    transform: translate(0);
}
.input-pressed{
    transform: scale(1.1, 1.1);
}
*/

